* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0d0a0e;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;

    .nothing{
        color: rgb(241, 241, 241);
        text-align: center;
    }
}
